<div class="w-full flex flex-col items-center mt-8">
  <h1>Servicio social</h1>
  <form [formGroup]="servicioSocialForm" class="form-container p-8 flex flex-col">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input formControlName="nombre" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido paterno</mat-label>
      <input formControlName="apellido1" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido materno</mat-label>
      <input formControlName="apellido2" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Matricula</mat-label>
      <input formControlName="matricula" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Semestre</mat-label>
      <input formControlName="semestre" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tipo de servicio social</mat-label>
      <mat-select formControlName="tipoServicioSocial">
        <mat-option value="ordinario">Ordinario</mat-option>
        <mat-option value="comunitario">Comunitario</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>CURP</mat-label>
      <input formControlName="curp" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Direction de la dependencia</mat-label>
      <input formControlName="directionDependencia" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Municipio de la dependencia</mat-label>
      <input formControlName="municipioDependencia" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nombre de la dependencia</mat-label>
      <input formControlName="nombreDependencia" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nombre del responsable</mat-label>
      <input formControlName="nombreResponsable" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Promedio general</mat-label>
      <input type="number" min="0" max="10" formControlName="promedioGeneral" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Carrera</mat-label>
      <mat-select formControlName="carrera">
        <mat-option *ngFor="let carrera of carreras" [value]="carrera">{{ carrera }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sexo</mat-label>
      <mat-select formControlName="sexo">
        <mat-option value="Femenino">Femenino</mat-option>
        <mat-option value="Masculino">Masculino</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Numero de celular del estudiante</mat-label>
      <input formControlName="numeroCelular" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha de inicio</mat-label>
      <input formControlName="fechaDeInicio" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha de termino</mat-label>
      <input formControlName="fechaDeTermino" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha de registro</mat-label>
      <input  formControlName="fechaDeRegistro" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>edad</mat-label>
      <input type="number" min="0" max="100" formControlName="edad" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>porcentaje de creditos</mat-label>
      <input  formControlName="porcentajeDeCreditos" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>sector</mat-label>
      <mat-select formControlName="sector">
        <mat-option *ngFor="let sector of sectores" [value]="sector">{{ sector}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>horario de servicio</mat-label>
      <input  formControlName="horarioDeServicio" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nombre del proyecto</mat-label>
      <input  formControlName="nombreDeProyecto" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>estimulo</mat-label>
      <input formControlName="estimulo" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Monto de estimulo</mat-label>
      <input formControlName="montoDeEstimulo" matInput>
    </mat-form-field>
    <button color="primary" mat-raised-button [disabled]="servicioSocialForm.invalid || loading"
      (click)="save()">Guardar</button>
  </form>
  <div class="flex justify-center w-full mt-4">
    <mat-spinner diameter="35" *ngIf="loading"></mat-spinner>
  </div>
</div>
