<div class="w-full flex flex-col items-center mt-8">
  <h1>Servicio social</h1>
  <form [formGroup]="servicioSocialForm" class="form-container p-8 flex flex-col">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input formControlName="nombre" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido paterno</mat-label>
      <input formControlName="apellido1" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido materno</mat-label>
      <input formControlName="apellido2" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Matricula</mat-label>
      <input formControlName="matricula" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Semestre</mat-label>
      <input formControlName="semestre" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Tipo de servicio social</mat-label>
      <mat-select formControlName="tipoServicioSocial">
        <mat-option value="ordinario">Ordinario</mat-option>
        <mat-option value="comunitario">Comunitario</mat-option>
      </mat-select>
    </mat-form-field>
    <button color="primary" mat-raised-button [disabled]="servicioSocialForm.invalid || loading" (click)="save()">Guardar</button>
  </form>
  <div class="flex justify-center w-full mt-4">
    <mat-spinner diameter="35" *ngIf="loading"></mat-spinner>
  </div>
</div>
