<div class="w-full flex flex-col items-center mt-8">
  <h1>Login</h1>
  <form [formGroup]="registerForm" class="login-form p-8 flex flex-col">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password">
      <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>
    <button class="mb-4" mat-raised-button color="primary" [disabled]="registerForm.invalid || loading"
      (click)="submit()">Register</button>
    <p *ngIf="errorMessage" class="text-red-600 pt-2">
      <strong>
        {{ errorMessage }}
      </strong>
    </p>
    <div class="flex justify-center w-full mt-4">
      <mat-spinner diameter="35" *ngIf="loading"></mat-spinner>
    </div>
  </form>
</div>
