<div class="p-4" *ngIf="tramite">
  <h1>{{ tramite.name }}</h1>
  <div *ngIf="userData as user">
    <div *ngFor="let documents of tramite.documentGroups" class="w-full document-table mb-4">
      <h2>{{ documents?.groupName }}</h2>
      <table class="w-full">
        <tr>
          <th class="text-left">Documento</th>
          <th class="text-left">Estado</th>
          <th></th>
        </tr>
        <tr *ngFor="let document of documents.documentos">
          <td class="w-full">{{ document.name }}</td>
          <td class="flex items-center icon">
            <app-document-state [estado]="userData?.documentos[document.tipo]?.estado"></app-document-state>
          </td>
          <td>
            <button *ngIf="userData?.documentos[document.tipo]" [matMenuTriggerFor]="menu" mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="download(document)">Descargar</button>
              <button mat-menu-item (click)="aceptarDocumento(user, document)">Aceptar</button>
              <button mat-menu-item (click)="rechazarDocumento(user, document)">Rechazar</button>
            </mat-menu>
          </td>
          <!--
          <td>
            <button mat-icon-button>
              <mat-icon class="text-green-500">done</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon class="text-red-500">clear</mat-icon>
            </button>
          </td> -->
        </tr>
      </table>
    </div>
  </div>
</div>
